{% if id==1 %}
    <h2>ID: {{id}}</h2>
    <h2>Name: VICTOR HUGO</h2>         
    <img src="{{ asset('img/victor.jpg') }}"alt="" >
    <h2>Email: victor.hugo@gmail.com</h2>
    <h2>Number of books: 100</h2>
{% endif %}

{% if id==2 %}
    <h2>ID: {{id}}</h2>
    <h2>Name: WILLIAM SHAKESPEARE</h2>         
    <img src="{{ asset('img/william.jpg') }}"alt="" >
    <h2>Email: william.shakespeare@gmail.com</h2>
    <h2>Number of books: 200</h2> 
{% endif %}

{% if id==3 %}
    <h2>ID: {{id}}</h2>
    <h2>Name: TAHA HUSSEIN</h2>         
    <img src="{{ asset('img/taha.jpg') }}"alt="" >
    <h2>Email: taha.hussein@gmail.com</h2>
    <h2>Number of books: 300</h2>
{% endif %}